body {
    margin: 0;
    padding: 0;
}

/* home pafe */
.hero-container {
    width: 500px;
}

.hero-card {
    height: auto;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(217, 215, 215, 0.8);
}

/* home page */

/* register page */

.register-card {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    border: 1px solid #ddd;
    box-shadow: 0 8px 24px rgba(217, 215, 215, 0.8);
}

/* register page */

.register-card h2 {
    font-weight: 700;
}

/* for the chat page */
.chat-page {
    display: grid;
    grid-template-columns: 100px 300px 1fr 200px;
    height: 100vh;
    /* background-color: aliceblue */
}

/* for the chat page */

/* menu side bar */
.menuside-container {
    flex-direction: column;
}

/* menu side bar */


/* ContactSideBar */
.contactContainer {
    background-color: rgb(0, 195, 255);
    border: 1px black;

    flex-direction: column;
}

.contactItem {
    border: 1px dotted black;
}

.contactContainer-header {}

.contactItem p {
    margin: 0;
    padding: 0;
}

/* ContactSideBar */

/* Conversations */
.conversationContainer {
    display: flex;
    flex-direction: column;
    border: 1px black;
    background-color: aliceblue;
}

.chatHeaderContainer {
    height: 100px;
    margin: 0;
    padding: 0;
}

/* Conversations */
.message-container {
    min-height: 78vh;
    flex-direction: column;
    overflow: hidden;
    margin: 5px;
}

.reciever-container {
    height: auto;
    width: 200px;
    background-color: rgb(31, 203, 22);
    align-self: flex-start;

}
.sender-container {
    height: auto;
    width: 200px;
    background-color: rgb(31, 203, 22);
    text-align: end;
    align-self: flex-end;
}
.reciever-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: white;
}

.sender-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: white;
}

.message-box {
    /* height: auto; */
    width: 100%;
    background-color: darkgray;
    margin: 5px;

}

.messageInput-box {
height:auto;
width: 90%;
}
/* conversatstuoin */

/* proifilePage */
.profilePageContainer {
    border: 1px  black;
    background-color: red;
}

/* profilePage */